{% extends 'base.html' %}
{% load staticfiles %}		
{% block content %}
<link rel="stylesheet" href="{% static "css/aboutus.css" %}">
<div class="container">
	<div class="about">
		<u>About US</u>
	</div>
<div id="img">
<img  src="{% static 'images/clgProfile-1-624x367.jpg' %}" class="rounded corners" width="95%">
	</div>
<div class="detail">
<p><h5>
	Hostel facilities are available both for boys & girls. The hostel rooms are fully equipped with adequate furniture & fixtures. Every boarder is provided with a chair,a table,a cot and an almirah.24 Hour Power backup is available in the hostel. Internet Facility is also available in all the Hostels.The facilities for common room , indoor games,Guest Room etc.are also available in the hostel. Dinning hall has a sitting capacity up to 150 students at a time. The following hostels are operational at present: 4 Boys Hostels (505 seats) & 1 Girls Hostels (75 seats). Each hostel is managed by a full time warden working under the guidance of a Chief Warden.
</h5></p>
</br>

<table>
  <tr>
    <th>Hostel</th>
    <th>Seats</th>
    <th>Capacity per room</th>
  </tr>
  <tr>
    <td>Block A(Boys)</td>
    <td>107</td>
    <td>Single Seater(Non AC Room)</td>
  </tr>
  <tr>
    <td>Block B(Boys)</td>
    <td>124</td>
    <td>Single Seater(Non AC Room)</td>
  </tr>
  <tr>
    <td>Block C (Boys)</td>
    <td>2</td>
    <td>Single Seater(AC Room)</td>
  </tr>
  <tr>
    <td>Block C (Boys)</td>
    <td>3</td>
    <td>Single Seater(Non AC Room)
</td>
  </tr>
  <tr>
    <td>Block C (Boys)</td>
    <td>2</td>
    <td>Double Seater (AC Room)</td>
  </tr>
  <tr>
    <td>Block C (Boys)</td>
    <td>3</td>
    <td>Double Seater(Non AC Room)</td>
  </tr>
  <tr>
    <td>Block C (Boys)</td>
    <td>18</td>
    <td>Tripple Seater (AC Room)</td>
  </tr>
  <tr>
    <td>Block C (Boys)</td>
    <td>27</td>
    <td>Tripple Seater ( Non AC Room)</td>
  </tr>
  <tr>
    <td>Block D (Boys)</td>
    <td>75</td>
    <td>Single Seater(AC Room)</td>
  </tr>
  <tr>
    <td>Block D (Boys)</td>
    <td>49</td>
    <td>Single Seater( Non AC Room)</td>
  </tr>
  <tr>
    <td>Padma Bhavan Extension (Girls)</td>
    <td>75</td>
    <td>Triple seater</td>
  </tr>
</table>


</div>


<br>

<div class="contact">
<h3>	HOSTEL MOBILE NO:8295908521<br>
     WARDEN MOBILE NO:8295905257
     <h3>
</div>

</div>


{% endblock %}	